<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AeroSwift - Início</title>
    <link rel="stylesheet" href="/css/home_u.css">
    <link rel="shortcut icon" href="/images/favicon.svg" type="image/x-icon">
</head>

<body>
    <header>
        <div class="logo-container">
            <img src="/images/marca.svg" alt="marca" class="logo">
        </div>

        <nav>
            <ul>
                <li><a href="#">FAZENDAS</a></li>
                <li><a href="#"><img src="/images/perfil.svg" alt="Perfil" class="perfil-icon"></a></li> 
            </ul>
        </nav>
    </header>
</body>
</html>

