<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AeroSwift - Login</title>
    <link rel="stylesheet" href="/css/login.css">
    <link rel="shortcut icon" href="/images/favicon.svg" type="image/x-icon">
</head>
<body>

    <div class="image-side"></div>

    <div class="container">
        <form action="/gestor/login" method="post">
            <h1>Login</h1>
            <label for="usuario">Usuário:</label>
            <input type="text" id="usuario" name="usuario" placeholder="Digite seu usuário" maxlength="100" required>
        
            <label for="password">Senha:</label>
            <input type="password" id="password" name="password" placeholder="Digite sua senha" maxlength="100" required>

            <!-- Exibe a mensagem de erro, se houver, logo abaixo do campo de senha -->
            <% if (errorMessage) { %>
                <p style="color: red; font-weight: bold; text-align: center;"><%= errorMessage %></p>
            <% } %>

            <div class="button-group">
                <button type="submit">Logar</button>
            </div>
        </form>

        <!-- Adicionando o botão 'VERSÃO USUÁRIO' abaixo do formulário -->
        <div class="user-button-container">
            <a href="/usuario/login">
                <button class="user">VERSÃO USUÁRIO</button>
            </a>
    </div>

    
</body>
</html>
