<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AeroSwift - Início</title>
    <link rel="stylesheet" href="/css/services.css">
    <link rel="shortcut icon" href="/images/favicon.svg" type="image/x-icon">
</head>

<body>
    <header>
        <div class="logo-container">
            <img src="/images/marca.svg" alt="marca" class="logo">
        </div>

        <nav>
            <ul>
                <li><a href="/gestor/home">OPERAÇÕES</a></li>
                <li><a href="/gestor/farm">FAZENDAS</a></li>
                <li>

                    <button class="perfil-btn" id="openModalBtn">
                        <img src="/images/perfil.svg" alt="Perfil" class="perfil-icon">
                    </button>
                </li>
            </ul>
        </nav>
        
        <div id="perfilModal" class="modal">
            <div class="modal-content">
                <ul>
                    <li>
                        <button class="header-button" type="button" onclick="window.location.href='/gestor/user'">
                            <img src="/images/newuser.svg" alt="Novo Usuário" class="icon"> Novo usuário
                        </button>
                    </li>
                    <li>
                        <button class="header-button" type="button" onclick="window.location.href='/gestor/login'">
                            <img src="/images/logout.svg" alt="Logout" class="icon"> Logout
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </header>


    <div class="form-container">
        <h2>Cadastrar serviço</h2>
        <form action="#" method="POST">
            <div class="form-group">
                <label for="fazenda">Fazenda</label>
                <select id="fazenda" name="fazenda">
                    <option value="" disabled selected>Selecione a fazenda</option>
                    <!-- Opções da fazenda -->
                </select>
            </div>
    
            <div class="form-group">
                <label for="servico">Serviço</label>
                <select id="servico" name="servico">
                    <option value="" disabled selected>Selecione o serviço</option>
                    <!-- Opções do serviço -->
                </select>
            </div>
    
            <div class="form-group">
                <label for="drone">Drone</label>
                <select id="drone" name="drone">
                    <option value="" disabled selected>Selecione o drone</option>
                    <!-- Opções de drones -->
                </select>
            </div>
    
            <div class="form-group">
                <label for="colaborador">Colaborador</label>
                <select id="colaborador" name="colaborador">
                    <option value="" disabled selected>Selecione o colaborador</option>
                    <option value="1">Colaborador AeroSwift</option>
                </select>
            </div>
    
            <div class="form-actions">
                <button type="button" class="cancel-button" onclick="window.location.href='/gestor/home'">Cancelar</button>
                <button type="submit" class="submit-button">Cadastrar</button>
            </div>
            
        </form>
    </div>
    

    <script>
            // Pegar o botão e o modal
    const openModalBtn = document.getElementById('openModalBtn');
    const modal = document.getElementById('perfilModal');

    // Quando o botão for clicado, mostra ou esconde o modal
    openModalBtn.onclick = function(event) {
        event.stopPropagation(); // Evita que o clique no botão feche o modal
        modal.classList.toggle('show'); // Alterna a visibilidade do modal
    };

    // Fecha o modal ao clicar fora dele
    window.onclick = function(event) {
        if (!modal.contains(event.target) && event.target !== openModalBtn) {
            modal.classList.remove('show'); // Remove a classe 'show' para fechar o modal
        }
    };
    </script>
</body>
</html>

