body, ul, li, a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: #FAFAFA;
    font-family: Arial, sans-serif;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(135deg, #fffaca, #c9ffca);
    padding: 10px 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.logo-container {
    display: flex;
    justify-content: flex-start;
}

.logo {
    height: 50px;
}


nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
}


nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 16px;
}


.perfil-icon {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #fff;
    padding: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}


nav ul li a:hover {
    color: #007bff;
}
